:root {
	--heading-font-size: 1.5rem;
	--right-container-padding: 20px 40px;
  }

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

fieldset {
	border: 0;
}
  

html { 
    background: url(img/leaves.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
	display: flex;
	font-family: Roboto, Helvetica, sans-serif !important;
	min-height: 100vh;
}

header p {
	font-size: var(--heading-font-size);
	padding: var(--right-container-padding);
}

.left-side-container footer {
	color:white;
	margin-top: auto;
	padding-bottom: 2vh;
}

.left-side-container footer a {
	color:white;
}

header p:first-child {
	margin-top: 100px;
}

form legend {
	font-size: var(--heading-font-size);
}

main, header {
	color: white;
	width: 100%;
}

form {
	color: black;
	background-color: white;
	display: flex;
	width: 100%;
	flex-direction: column;
	padding: var(--right-container-padding);
	box-shadow: 0px 0px 10px 0px #999;
}

form label {
	color:#5A5A5A;
}

.form-column {
	width: 50%;
}

input {
	min-width: 300px;
	width: 40%;
	padding: 5px;
}

.container {
	display: flex;
}



.left-side-container {
	display: flex;
	width: 40vw;
	flex-direction: column;
	align-items: center;
}

.logo {
	width: 100%;
	margin-top: 30vh;
	padding: 40px;
	background: rgba(0, 0, 0, 0.4);
	text-align: center;

}

.right-side-container {
	display: flex;
	width: 60vw;
	flex-direction: column;
	color: white;
	background: rgba(0, 0, 0, 0.4);
}

.right-side-container footer {
	text-align: center;
	margin-bottom: 2vh;
	margin-top: auto;
	color: white;
}
main p:last-of-type {
	padding: var(--right-container-padding);
	margin-top: auto;
}

main p:last-of-type a {
	color: white;
}

button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	font-size: var(--heading-font-size - 0.3rem);
	line-height: 1;
	border-radius: 50px;
	transition-duration: .3s;
	border: 1px solid transparent;
	letter-spacing: 2px;
	min-width: 160px;
	width: 40%;
	text-transform: uppercase;
	white-space: normal;
	font-weight: 700;
	text-align: center;
	padding: 17px 48px;
	color: black;
	background-color: orange;
	height: 48px;
	margin-top: 2vh;
}

button:hover{
	transform: scale(1.04);
	background-color: brown;
}

.form-inputs-container {
	display: flex;
	margin-top: ;
	flex-flow: row;
	width: 100%;
}

.form-input-group {
	display: flex;
    flex-direction: column;
	margin-top: 2vh;
}